{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<div class="ec-navlistRole">
    <ul class="ec-navlistRole__navlist">
        <li class="ec-navlistRole__item {% if mypageno|default('') == 'index' %}active{% endif %}">
            <a href="{{ url('mypage') }}">{{ 'ご注文履歴'|trans }}</a>
        </li>
        {% if BaseInfo.option_favorite_product %}
            <li class="ec-navlistRole__item {% if mypageno|default('') == 'favorite' %}active{% endif %}">
                <a href="{{ url('mypage_favorite') }}">{{ 'お気に入り一覧'|trans }}</a>
            </li>
        {% endif %}
        <li class="ec-navlistRole__item {% if mypageno|default('') == 'change' %}active{% endif %}">
            <a href="{{ url('mypage_change') }}">{{ '会員情報編集'|trans }}</a>
        </li>
        <li class="ec-navlistRole__item {% if mypageno|default('') == 'delivery' %}active{% endif %}">
            <a href="{{ url('mypage_delivery') }}">{{ 'お届け先一覧'|trans }}</a>
        </li>
        <li class="ec-navlistRole__item {% if mypageno|default('') == 'withdraw' %}active{% endif %}">
            <a href="{{ url('mypage_withdraw') }}">{{ '退会手続き'|trans }}</a>
        </li>
    </ul>
</div>

<div class="ec-welcomeMsg">
    {{ 'ようこそ%last_name% %first_name%さん'|trans({ '%last_name%': app.user.name01, '%first_name%': app.user.name02 }) }}
    {% if BaseInfo.option_favorite_product %}
        {{ '現在の所持ポイントは %point%pt です。'|trans({ '%point%': app.user.point|number_format}) }}
    {% endif %}
</div>

