{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'frame.twig' %}

{% set current = 6 %}

{% block main %}
<div id="main" class="step7">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>{{ 'インストールが完了しました！'|trans }}</h1>
                </div>
                <div class="column">
                    <h2>{{ '管理画面にアクセスしてみましょう'|trans}}</h2>
                    <p>{{ '先ほど登録したログインID・パスワードで、管理画面にログインすることができます。デザインの編集や商品を登録してみましょう！'|trans }}</p>
                    <div class="btn_area"><a href="{{ admin_url }}" class="btn btn-primary btn-block btn-lg">{{ '管理画面を表示'|trans }}</a></div>
                </div>
            </div>
            <!-- /.col -->
        </div>
    </div>
</div>
{% endblock %}